
/* WHERE ANIMATIONS HAPPEN */

/*animation for new block */
.new {
  transform: scale(0);
  animation: new linear forwards;
  animation-duration: 0.25s;
  animation-delay: 0.2s;
}

/*animation for adding a new score*/
.addScore {
  color: black;
  position: absolute;
  z-index: 10;
  animation: addScore 0.3s linear forwards;
}

/*animation for a block that combined with another*/
.upgraded {
  animation: upgraded 0.15s 0.1s linear forwards;
}

.hor-1 {
  animation: slideRight1 0.1s linear forwards;
}

.hor-2 {
  animation: slideRight2 0.1s linear forwards;
}

.hor-3 {
  animation: slideRight3 0.1s linear forwards;
}

.hor1 {
  animation: slideLeft1 0.1s linear forwards;
}

.hor2 {
  animation: slideLeft2 0.1s linear forwards;
}

.hor3 {
  animation: slideLeft3 0.1s linear forwards;
}


.ver1 {
  animation: slideUp1 0.1s linear forwards;
}

.ver2 {
  animation: slideUp2 0.1s linear forwards;
}

.ver3 {
  animation: slideUp3 0.1s linear forwards;
}


.ver-1 {
  animation: slideDown1 0.1s linear forwards;
}

.ver-2 {
  animation: slideDown2 0.1s linear forwards;
}

.ver-3 {
  animation: slideDown3 0.1s linear forwards;
}

/* Shifting Animations for left,right, up, down */
@keyframes new {
  from { transform:  scale(0); }
  to { transform: scale(1); }
}

/* Shifting Animation for block that is combined */
@keyframes upgraded {
  0% { transform: scale(1.4) }
  50% { transform: scale(0.7) }
  100% { transform: scale(1) }
}

/*animation for scores sliding up */
@keyframes addScore {
  0% { transform: translateY(0); opacity: 0.2; }
  75% { transform: translateY(-37.5px); opacity: 1; }
  100% { transform: translateY(-75px); opacity: 0; }
}

/* Shifting Animations for left,right, up, down */
@keyframes slideRight1 {
  from { transform:  translateX(5px); }
  to { transform: translateX(110px); }
}

@keyframes slideRight2 {
  from { transform:  translateX(5px); }
  to { transform: translateX(220px); }
}

@keyframes slideRight3 {
  from { transform:  translateX(5px); }
  to { transform: translateX(330px); }
}

@keyframes slideLeft1 {
  from { transform: translateX(5px); }
  to { transform: translateX(-110px); }
}

@keyframes slideLeft2 {
  from { transform:  translateX(5px); }
  to { transform: translateX(-220px); }
}

@keyframes slideLeft3 {
  from { transform:  translateX(5px); }
  to { transform: translateX(-330px); }
}

/*Vertical Animations */

@keyframes slideUp1 {
  from { transform:  translateY(5px); }
  to { transform: translateY(-110px); }
}

@keyframes slideUp2 {
  from { transform:  translateY(5px); }
  to { transform: translateY(-220px); }
}

@keyframes slideUp3 {
  from { transform:  translateY(5px); }
  to { transform: translateY(-330px); }
}

@keyframes slideDown1 {
  from { transform:  translateY(5px); }
  to { transform: translateY(110px); }
}

@keyframes slideDown2 {
  from { transform:  translateY(5px); }
  to { transform: translateY(220px); }
}

@keyframes slideDown3 {
  from { transform:  translateY(5px); }
  to { transform: translateY(330px); }
}
