
/*animation for marching parrots*/
.parrotMarch {
  position: relative;
  animation: parrotMarch 5s linear infinite;
}


/*animation for making parrot move around the board*/
@keyframes parrotMarch {
    0%   { left:0px; top:0px;}
    25%  { left:440px; top:0px;}
    50%  { left:440px; top:440px;}
    75%  { left:0px; top:440px;}
    100% { left:0px; top:0px;}
}
