
.parrot {
  float: left;
  position: absolute;
  left: 0px;
  top: -24px;
}

/*animation for marching parrots*/
.parrotMarch {
  animation: parrotMarch 5s linear infinite;
}

/*animation for making parrot move around the board*/
@keyframes parrotMarch {
    0% { left:0px; top:-24px; transform: rotate(0deg);}
    24% { left:447px; top:-24px; transform: rotate(0deg);}
    25%  { left:447px; top:-24px; transform: rotate(90deg); }
    49%  { left:447px; top:447px; transform: rotate(90deg);}
    50%  { left:447px; top:448px; transform: rotate(180deg);}
    74%  { left:-25px; top:448px;transform: rotate(180deg); }
    75%  { left:-25px; top:447px; transform: rotate(270deg)}
    99% { left:-25px; top:-24px; transform: rotate(270deg) }
    100% { left:-25px; top:-24px; transform: rotate(0deg) }
}
