.overlay {
  position: absolute;
  z-index: 10;
}

.col0 {
  left: 5px;
}
.col1 {
  left: 115px;
}
.col2 {
  left: 225px;
}
.col3 {
  left: 335px;
}

.row0 {
  top: 5;
}
.row1 {
  top: 115px;
}
.row2 {
  top: 225;
}
.row3 {
  top: 335;
}
